
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #424242;
}
.navli  {display: inline-block;}

li a {

    text-decoration: none;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Change the link color on hover */
li a:hover {
    background-color: black;
    color: white;
}

.dropbtn {
    background-color: #424242;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #424242;
    min-width: 320px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: black;}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: black;
}

.imgoi{
    display: block;
    margin: 0 auto;
}

//width in li a: need consideration, because now the width in nav is differient.


div.container {
    width: 100%;
    border: 2px bisque;
    float:center;
}  
       

header {
    padding: 1em;
    color: Black;
    background-color:#bbdefb;
    clear: left;
    text-align: right;
}
footer {
    padding: 1em;
    color: white;
    background-color:#bdbdbd;
    clear: left;
    text-align: center;
}
          
         

.city {
float: left;
margin: 5px;
padding: 15px;
width: 300px;
height: 300px;
border: 1px solid black;
} 


          
          
article   {
    margin-left: 170px;
    border-left: 1px solid ;
    padding: 1em;
    overflow: hidden;}
          
          
body  { background-color: none; border-top-color: none}
          
          
p    {color: black; } 

//removed the border:2px solid powderblue in p
          

          
iframe {border:2px; color:#FFE4E1; padding-top: 30px; padding-bottom: 60px; padding-right: 30px; width: 560px; height:315px}
         
#bookmark { color:coral; background-color:cornsilk; border-top-color: aquamarine}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

caption {text-decoration: chocolate; text-decoration: dashed }

td {
    background-color: cornsilk
} 

th, td {
    padding: 15px;
}

th {
    text-align: left; background-color: bisque;
}

  .floating-box {
    display: inline-block;
    width: 150px;
    height: 75px;
    margin: 10px;
    border: 3px solid;  
    
}
.gap {
    display: block;
    width: 100%;
    margin: 0;
    height: 20px;
    line-height: 20px;
}

.textcenter {
    text-align: center;
}
h1 { font-family: verdana;
}
h3 {
    font-family: Montserrat;
    font-size: 21px;
    font-weight: 400;
    line-height: 31px;
    letter-spacing: 0px;
    color: #333333;
}



element.style {
    margin-bottom: 0px;
}

h3 {
    font-family: Montserrat;
    font-size: 21px;
    font-weight: 400;
    line-height: 31px;
    letter-spacing: 0px;
    color: #333333;
}



element.style {
    margin-bottom: 0px;
}

h4 {
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0px;
    color: #3d3d3d;
}
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24.10.2016, 19:56:57
    Author     : Chenpo
*/

